
# Игнорируем сами данные (мы их и так скачаем с Kaggle)
data/

# Игнорируем служебные файлы Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints*

# Игнорируем настройки IDE/редакторов
.vscode/
.idea/

# Игнорируем виртуальные окружения (env/venv/.venv и т.д.)
env/
venv/
.venv/

# Игнорирует файлы кэша Python
__pycache__/
*.pyc

# Игнорируем большие модели или файлы
*.pkl
*.h5
*.model